DOMAIN=localhost
DB_PASSWORD=parcelstats
NEXTAUTH_SECRET=generate-with-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost
MODEL_RETRAIN_SCHEDULE=0 3 * * 0

POLL_INTERVAL_ACTIVE=1800
POLL_INTERVAL_TRANSIT=1800
POLL_INTERVAL_PENDING=7200
POLL_INTERVAL_OTHERS=14400
POLL_MAX_SHIPMENTS=50
POLL_CHECK_INTERVAL=300
